@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 31;
    --background-end-rgb: 10, 10, 15;

    --bg-grid: 30, 41, 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-end-rgb)),
      rgb(var(--background-end-rgb))
    )
    ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-glow {
    text-shadow: 0 0 10px #6366f1 , 0 0 20px #6366f1 , 0 0 40px #6366f1 , 0 0 80px #6366f1 , 0 0 120px #6366f1 ;
  }

  .text-glow-red {
    text-shadow: 0 0 10px rgb(255, 75, 75) , 0 0 20px rgb(255, 75, 75) , 0 0 40px rgb(255, 75, 75) , 0 0 80px rgb(255, 75, 75) , 0 0 120px rgb(255, 75, 75) ;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

