@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  /* /--background-rgb: #1B1725; */
  /* --background-rgb: #04080F */
  --background-rgb: #000000 
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      var(--background-rgb),
      var(--background-rgb)
    )
    ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-glow {
    text-shadow: 0 0 10px #6366f1 , 0 0 20px #6366f1 , 0 0 40px #6366f1 , 0 0 80px #6366f1 , 0 0 120px #6366f1 ;
  }

  .slight-text-glow {
    text-shadow: 0 0 5px #6366f1 , 0 0 10px #6366f1 , 0 0 20px #6366f1 , 0 0 40px #6366f1 , 0 0 60px #6366f1 ;
  }

  .text-glow-red {
    text-shadow: 0 0 10px rgb(255, 75, 75) , 0 0 20px rgb(255, 75, 75) , 0 0 40px rgb(255, 75, 75) , 0 0 80px rgb(255, 75, 75) , 0 0 120px rgb(255, 75, 75) ;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

