.dropdown-menu {
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  
  .slide-down {
    animation-name: slide-down-animation;
  }
  
  .slide-up {
    animation-name: slide-up-animation;
    pointer-events: none;
  }

  
  @keyframes slide-down-animation {
    0% {
      transform: translateY(-25px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-up-animation {
    0% {
      transform: translateY(0);
      opacity: 1;
    }


    100% {
      transform: translateY(-25px);
      opacity: 0;
    }
  }

  .svg-glow {
    -webkit-filter: drop-shadow( 0px 0px 16px rgb(99, 102, 241));
    filter: drop-shadow( 0px 0px 16px rgb(99, 102, 241));
  }

.background-svg {
    position: absolute; /* Change to fixed to make it position relative to the viewport */
    top: -50%; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Make it cover the entire width of the viewport */
    height: 150%; /* Make it cover the entire height of the viewport */
    z-index: -1; /* Ensure it stays behind other content */
    background-image: url('/ccchaos.svg'); /* URL to your SVG file */
    /* background-size: 100%;  */
    background-position: center;
  }

.background-svg-snip {
  position: absolute; /* Change to fixed to make it position relative to the viewport */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the left */
  width: 100%; /* Make it cover the entire width of the viewport */
  height: 100%; /* Make it cover the entire height of the viewport */
  z-index: -1; /* Ensure it stays behind other content */
  background-image: url('/ccchaos.svg'); /* URL to your SVG file */
  /* background-size: 100%;  */
  background-position: center;
  opacity: 0.25;
}